@font-face {
  src: url("../fonts/ProgressPersonalUse-EaJdz.ttf");
  font-family: "PPU";
}

@font-face {
  src: url("../fonts/Manrope-Regular.ttf");
  font-family: "manrope";
}

.fs1 {
  font-size: 8vmax;
  font-weight: 500;
  color: #fff;
  font-family: "manrope";
}

.fs2 {
  font-size: 4vmax;
  font-weight: 500;
  color: #fff;
  font-family: "manrope";
}

.fs3 {
  font-size: 3vmax;
  font-weight: 500;
  letter-spacing: 0.05vmax;
  color: #fff;
  font-family: "manrope";
}

.fs4 {
  font-size: 2vmax;
  font-weight: 500;
  color: #fff;
  font-family: "manrope";
}

.fs5 {
  font-size: 1vmax;
  font-weight: 500;
  letter-spacing: 0.02vmax;
  color: #fff;
  font-family: "manrope";
}

.fs6 {
  font-size: 0.8vmax;
  font-weight: 500;
  letter-spacing: 0.02vmax;
  color: #fff;
  font-family: "manrope";
}

@media (max-width: 30cm) {
  .fs2 {
    font-size: 6vmax;
  }

  .fs3 {
    font-size: 6vmax;
  }

  .fs4 {
    font-size: 3vmax;
  }

  .fs5 {
    font-size: 1.8vmax;
    letter-spacing: 0.05vmax;
  }

  .fs6 {
    font-size: 1.5vmax;
    letter-spacing: 0.05vmax;
  }
}
