@import "../stylesheets/font.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
  cursor: default;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: bisque;
  z-index: 999;
}

.nav {
  position: fixed;
  top: 1vmax;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 1vmax 2.5vmax;
  z-index: 99;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-radius: 1vmax;
}
.nav .left {
  cursor: pointer;
}
.nav .left svg {
  margin-top: 0.5vmax;
}
.nav .right {
  display: flex;
  align-items: center;
  gap: 0.8vmax;
}
.nav .right .searchbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.6vmax;
  width: 25vmax;
  padding: 0 1.2vmax;
  background-color: #1a1a1a;
  border-radius: 5vmax;
  cursor: pointer;
}
.nav .right .searchbox h5 {
  font-size: 0.9vmax;
  font-weight: 500;
  letter-spacing: 0.02vmax;
  opacity: 0.3;
}
.nav .right .searchbox .ri-search-line {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nav .right i {
  position: relative;
  font-size: 1.2vmax;
  height: 2.6vmax;
  width: 2.6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.nav .right .icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.25s linear;
  background-color: #fff;
}
.nav .right .icon:hover::after {
  top: -100%;
  transition: 0.25s linear;
}
.nav .right .menubtn {
  position: relative;
  height: 2.6vmax;
  width: 2.6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  border-radius: 50%;
  padding: 0.01vmax;
  overflow: hidden;
}
.nav .right .menubtn .ham {
  height: 80%;
  width: 80%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 50%;
}
.nav .right .menubtn .hamRotate.active {
  transform: rotate(45deg);
}
.nav .right .menubtn .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
}
.nav .right .menubtn .ham8 .top {
  stroke-dasharray: 40 160;
}
.nav .right .menubtn .ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.nav .right .menubtn .ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.nav .right .menubtn .ham8.active .top {
  stroke-dashoffset: -64px;
}
.nav .right .menubtn .ham8.active .middle {
  transform: rotate(90deg);
}
.nav .right .menubtn .ham8.active .bottom {
  stroke-dashoffset: -64px;
}

@media (max-width: 30cm) {
  .nav {
    width: calc(100% - 5vmax);
    padding: 1.5vmax 2.5vmax;
  }
  .nav .left svg {
    margin-top: 0.9vmax;
  }
  .nav .right {
    gap: 1.2vmax;
  }
  .nav .right .searchbox {
    display: none;
  }
  .nav .right i {
    height: 4.2vmax;
    width: 4.2vmax;
    font-size: 1.8vmax;
  }
  .nav .right .menubtn {
    height: 4.2vmax;
    width: 4.2vmax;
  }
}
.wrapper {
  position: relative;
  width: 100%;
}
.wrapper .sec1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow: hidden;
}
.wrapper .sec1 .landscapeText {
  position: absolute;
  top: 37.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13vmax;
  line-height: 8.5vmax;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "PPU";
  font-weight: 500;
}
.wrapper .sec1 .landscapeText span {
  color: #202020;
  transition: 0.35s linear;
}
.wrapper .sec1 .potraitText {
  display: none;
}
.wrapper .sec1 .heroImg {
  position: absolute;
  top: 101.5%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-89deg);
  width: 120%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.25s linear;
}
.wrapper .sec1 .bottombox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2vmax 5vmax;
  z-index: 99;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .sec1 .bottombox .linkbox {
  display: flex;
  gap: 2vmax;
}
.wrapper .sec1 .bottombox .linkbox h5 {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.25s linear;
}
.wrapper .sec1 .bottombox .linkbox h5:hover {
  opacity: 1;
  transition: 0.25s linear;
}
.wrapper .sec1 .bottombox .circular {
  position: absolute;
  bottom: 2.5vmax;
  right: 5vmax;
  border-radius: 50%;
  width: 6vmax;
  height: 6vmax;
  cursor: pointer;
}
.wrapper .sec1 .bottombox .circular svg {
  fill: currentColor;
  height: auto;
  transform-origin: center;
  width: 100%;
  animation: rotateAnimation 30s linear infinite both;
}
.wrapper .sec1 .bottombox .circular svg text {
  font-family: "manrope";
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper .sec1 .bottombox .circular .minicircle {
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0.5vmax;
  height: 0.5vmax;
  background-color: #e72830;
}
@media (max-width: 30cm) {
  .wrapper .sec1 .landscapeText {
    display: none;
  }
  .wrapper .sec1 .potraitText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vmax;
    line-height: 8vmax;
    font-family: "PPU";
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vmax;
  }
  .wrapper .sec1 .potraitText span {
    color: #202020;
    transition: 0.35s linear;
  }
  .wrapper .sec1 .heroImg {
    width: 160%;
  }
  .wrapper .sec1 .bottombox {
    padding: 2.5vmax;
  }
  .wrapper .sec1 .bottombox .linkbox {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
  .wrapper .sec1 .bottombox .linkbox h5 {
    opacity: 0.4;
  }
  .wrapper .sec1 .bottombox .circular {
    width: 12vmax;
    height: 12vmax;
    bottom: 2.5vmax;
    right: 2.5vmax;
    display: none;
  }
  .wrapper .sec1 .bottombox .circular svg text {
    word-spacing: 0.2vmax;
  }
}
.wrapper .sec2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.wrapper .sec2 .circular {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  bottom: 2.5vmax;
  right: 5vmax;
  border-radius: 50%;
  width: 35vmax;
  height: 35vmax;
  background-color: #000;
}
.wrapper .sec2 .circular svg {
  fill: currentColor;
  height: auto;
  transform-origin: center;
  width: 100%;
  animation: rotateAnimation 20s linear infinite both;
}
.wrapper .sec2 .circular svg text {
  font-family: "PPU";
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.05vmax;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper .sec2 .circular .minicircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 21.5vmax;
  height: 21.5vmax;
  background-color: #fff;
}
.wrapper .sec2 .featuredbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 5vmax;
  padding-bottom: 5vmax;
}
.wrapper .sec2 .featuredbox .left {
  position: relative;
  width: 35%;
}
.wrapper .sec2 .featuredbox .left h2 {
  line-height: 4.5vmax;
  letter-spacing: normal;
  font-weight: 600;
  color: #000;
}
.wrapper .sec2 .featuredbox .left p {
  line-height: 1.8vmax;
  margin-top: 1.5vmax;
  opacity: 0.6;
  width: 95%;
  color: #000;
  font-weight: 600;
}
.wrapper .sec2 .featuredbox .left button {
  position: relative;
  height: 3vmax;
  width: 9vmax;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  margin-top: 2vmax;
  overflow: hidden;
  border: none;
}
.wrapper .sec2 .featuredbox .left button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.25s linear;
  background-color: #fff;
}
.wrapper .sec2 .featuredbox .left button:hover::after {
  top: -100%;
  transition: 0.25s linear;
}
.wrapper .sec2 .featuredbox .right {
  position: relative;
  width: 55%;
}
.wrapper .sec2 .featuredbox .right h1 {
  position: absolute;
  top: -25%;
  left: -9.5%;
  font-size: 15vmax;
  color: #fff;
  font-family: "PPU";
  font-weight: 500;
  white-space: nowrap;
  z-index: 55;
  mix-blend-mode: difference;
}
.wrapper .sec2 .featuredbox .right .imgboxholder {
  position: relative;
  height: 25vmax;
  width: 100%;
  display: flex;
  gap: 1vmax;
  margin-top: 2vmax;
}
.wrapper .sec2 .featuredbox .right .imgboxholder .clickFollower {
  position: fixed;
  height: 8vmax;
  width: 8vmax;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8862745098);
  z-index: 99;
  pointer-events: none;
}
.wrapper .sec2 .featuredbox .right .imgboxholder .imgbox {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1vmax;
}
.wrapper .sec2 .featuredbox .right .imgboxholder .imgbox img {
  height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition: 0.25s linear;
  filter: contrast(1.1);
  z-index: 999;
}
.wrapper .sec2 .featuredbox .right .imgboxholder .imgbox:hover img {
  transform: scale(1.1);
  transition: 0.25s linear;
}
@media (max-width: 30cm) {
  .wrapper .sec2 .circular {
    height: 45vmax;
    width: 45vmax;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
  .wrapper .sec2 .circular .minicircle {
    width: 28vmax;
    height: 28vmax;
  }
  .wrapper .sec2 .featuredbox {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 5vmax 2.5vmax;
    gap: 8.5vmax;
  }
  .wrapper .sec2 .featuredbox .left {
    width: 100%;
  }
  .wrapper .sec2 .featuredbox .left h2 {
    line-height: 6vmax;
  }
  .wrapper .sec2 .featuredbox .left p {
    line-height: 2.8vmax;
    margin-top: 2.5vmax;
    opacity: 0.8;
  }
  .wrapper .sec2 .featuredbox .left button {
    height: 5vmax;
    width: 14vmax;
    margin-top: 3vmax;
    display: none;
  }
  .wrapper .sec2 .featuredbox .right {
    width: 100%;
  }
  .wrapper .sec2 .featuredbox .right h1 {
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.wrapper .sec3 {
  position: relative;
  height: 100vh;
  width: 100%;
}
.wrapper .sec3 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26vmax;
  text-transform: uppercase;
  text-align: center;
  font-family: "PPU";
  font-weight: 500;
  width: 100%;
  overflow: hidden;
}
.wrapper .sec3 h1 span {
  color: #202020;
  transition: 0.15s linear;
}
.wrapper .sec3 canvas {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
  filter: contrast(1.1);
}
.wrapper .canvas-relative {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.wrapper .cr4 .textbox {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .cr4 .textbox h1 {
  font-size: 12vmax;
  color: #121212;
  font-family: "PPU";
  font-weight: 500;
  line-height: 8vmax;
}
@media (max-width: 30cm) {
  .wrapper .sec3 h1 {
    font-size: 20vmax;
    line-height: 8vmax;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vmax;
  }
  .wrapper .sec3 h1 span {
    display: block;
  }
  .wrapper .cr4 {
    justify-content: flex-start;
    background-color: #000;
  }
  .wrapper .cr4 .textbox {
    width: 100%;
    text-align: center;
    padding: 0 2.5vmax;
  }
}
.wrapper .sec4 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.wrapper .sec4 .marquee-box {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.wrapper .sec4 .marquee-box .text-holder {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding-bottom: 1vmax;
  border-bottom: 2px solid #000;
}
.wrapper .sec4 .marquee-box .text-holder h1 {
  font-size: 8vmax;
  font-family: "PPU";
  letter-spacing: normal;
  white-space: nowrap;
  min-width: 111vmax;
  color: #000;
}
.wrapper .sec4 .marquee-box::-webkit-scrollbar {
  display: none;
}
.wrapper .sec4 .watches {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
}
.wrapper .sec4 .watch {
  width: 16%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper .sec4 .watch .detail {
  position: absolute;
  width: 80%;
  height: 10%;
  top: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dddddd;
  border-radius: 1.5vmax;
  cursor: pointer;
}
.wrapper .sec4 .watch img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateY(20%);
  transition: 0.25s linear;
  opacity: 1;
  cursor: pointer;
}
.wrapper .sec4 .watch img:hover {
  transform: translateY(8%);
  transition: 0.25s linear;
}
.wrapper .sec5 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
}
.wrapper .sec5 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(0.3);
}
.wrapper .sec5 h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "PPU";
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: 35vmax;
  background-color: rgba(0, 0, 0, 0.5960784314);
}
.wrapper .sec5 p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  line-height: 1.2vmax;
}
.wrapper .footer {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #000;
  padding: 2.5vmax 3vmax;
}
.wrapper .footer .elem1 {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper .footer .elem1 .lbholder {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 12vmax;
}
.wrapper .footer .elem1 .lbholder .linkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.2vmax;
}
.wrapper .footer .elem1 .lbholder .linkbox .fs5 {
  letter-spacing: 0.05vmax;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.wrapper .footer .elem1 .lbholder .linkbox .fs6 {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.5;
  transition: all 0.25s linear;
}
.wrapper .footer .elem1 .lbholder .linkbox .fs6:hover {
  opacity: 1;
  transition: all 0.25s linear;
}
.wrapper .footer .elem1 .sociallinkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 0.8vmax;
}
.wrapper .footer .elem1 .sociallinkbox i {
  position: relative;
  font-size: 1.2vmax;
  height: 2.6vmax;
  width: 2.6vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
}
.wrapper .footer .elem1 .sociallinkbox .icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.25s linear;
  background-color: #fff;
}
.wrapper .footer .elem1 .sociallinkbox .icon:hover::after {
  top: -100%;
  transition: 0.25s linear;
}
.wrapper .footer .elem2 {
  height: 1vmax;
  width: 100%;
  margin-top: 6vmax;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrapper .footer .elem2 .infolinkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-end;
}
.wrapper .footer .elem2 .infolinkbox i {
  margin-left: -0.3vmax;
  color: #fff;
}
.wrapper .footer .elem2 .infolinkbox a {
  text-decoration: none;
  color: #fff;
  padding-left: 0.3vmax;
}
.wrapper .footer .elem2 .infolinkbox p {
  color: #fff;
  text-transform: capitalize;
  opacity: 0.5;
  margin-left: 2vmax;
}
.wrapper .footer .elem2 .linkbox {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 2vmax;
}
.wrapper .footer .elem2 .linkbox a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  transition: all 0.25s linear;
}
.wrapper .footer .elem2 .linkbox a:hover {
  opacity: 1;
  transition: all 0.25s linear;
}
.wrapper .footer .elem3 {
  width: 100%;
  margin-top: 2.5vmax;
}
.wrapper .footer .elem3 img {
  height: 100%;
  width: 100%;
  mix-blend-mode: exclusion;
}
@media (max-width: 30cm) {
  .wrapper .footer {
    padding: 2.3vmax 2.3vmax;
    padding-top: 10vmax;
  }
  .wrapper .footer .elem1 {
    flex-direction: column;
  }
  .wrapper .footer .elem1 .lbholder {
    width: 100%;
    gap: 10vmax;
  }
  .wrapper .footer .elem1 .sociallinkbox {
    margin-top: 5vmax;
  }
  .wrapper .footer .elem1 .sociallinkbox i {
    padding: 1vmax;
  }
  .wrapper .footer .elem2 {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2.3vmax;
  }
  .wrapper .footer .elem2 .infolinkbox p {
    margin-left: 2.5vmax;
  }
  .wrapper .footer .elem2 .linkbox {
    gap: 2.5vmax;
  }
}
@media (max-width: 15cm) {
  .wrapper .footer .elem1 .lbholder {
    gap: 5vmax;
    flex-direction: column;
  }
  .wrapper .footer .elem2 {
    margin-top: 5vmax;
  }
}/*# sourceMappingURL=style.css.map */