@import "../stylesheets/font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
  cursor: default;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  z-index: 999;

  video {
    height: 130%;
    width: 100%;
    object-fit: cover;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    opacity: 0;
    transition: 0.25s linear;
  }
}

.nav {
  position: fixed;
  top: 1vmax;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 1vmax 2.5vmax;
  z-index: 99;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-radius: 1vmax;

  .left {
    cursor: pointer;

    svg {
      margin-top: 0.5vmax;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 0.8vmax;

    .searchbox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.6vmax;
      width: 25vmax;
      padding: 0 1.2vmax;
      background-color: #1a1a1a;
      border-radius: 5vmax;
      cursor: pointer;

      h5 {
        font-size: 0.9vmax;
        font-weight: 500;
        letter-spacing: 0.02vmax;
        opacity: 0.3;
      }

      .ri-search-line {
        height: fit-content;
        width: fit-content;
      }
    }

    i {
      position: relative;
      font-size: 1.2vmax;
      height: 2.6vmax;
      width: 2.6vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #202020;
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
    }

    .icon::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.25s linear;
      background-color: #fff;
    }

    .icon:hover::after {
      top: -100%;
      transition: 0.25s linear;
    }

    .menubtn {
      position: relative;
      height: 2.6vmax;
      width: 2.6vmax;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #202020;
      border-radius: 50%;
      padding: 0.01vmax;
      overflow: hidden;

      .ham {
        height: 80%;
        width: 80%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 50%;
      }
      .hamRotate.active {
        transform: rotate(45deg);
      }

      .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #fff;
        stroke-width: 7;
        stroke-linecap: round;
      }

      .ham8 .top {
        stroke-dasharray: 40 160;
      }
      .ham8 .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
      }
      .ham8 .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
      }
      .ham8.active .top {
        stroke-dashoffset: -64px;
      }
      .ham8.active .middle {
        //stroke-dashoffset: -20px;
        transform: rotate(90deg);
      }
      .ham8.active .bottom {
        stroke-dashoffset: -64px;
      }
    }
  }
}

@media (max-width: 30cm) {
  .nav {
    width: calc(100% - 5vmax);
    padding: 1.5vmax 2.5vmax;

    .left {
      svg {
        margin-top: 0.9vmax;
      }
    }

    .right {
      gap: 1.2vmax;

      .searchbox {
        display: none;
      }

      i {
        height: 4.2vmax;
        width: 4.2vmax;
        font-size: 1.8vmax;
      }

      .menubtn {
        height: 4.2vmax;
        width: 4.2vmax;
      }
    }
  }
}

.wrapper {
  position: relative;
  width: 100%;

  .sec1 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;

    .landscapeText {
      position: absolute;
      top: 37.7%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 13vmax;
      line-height: 8.5vmax;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      font-family: "PPU";
      font-weight: 500;

      span {
        color: #202020;
        transition: 0.35s linear;
      }
    }

    .potraitText {
      display: none;
    }

    .heroImg {
      position: absolute;
      top: 101.5%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-89deg);
      width: 120%;
      object-fit: contain;
      transition: 0.25s linear;
    }

    .bottombox {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2vmax 5vmax;
      z-index: 99;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .linkbox {
        display: flex;
        gap: 2vmax;

        h5 {
          opacity: 0.4;
          cursor: pointer;
          transition: 0.25s linear;

          &:hover {
            opacity: 1;
            transition: 0.25s linear;
          }
        }
      }

      .circular {
        position: absolute;
        bottom: 2.5vmax;
        right: 5vmax;
        border-radius: 50%;
        width: 6vmax;
        height: 6vmax;
        cursor: pointer;

        svg {
          fill: currentColor;
          height: auto;
          transform-origin: center;
          width: 100%;
          animation: rotateAnimation 30s linear infinite both;

          text {
            font-family: "manrope";
          }
        }

        @keyframes rotateAnimation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

        .minicircle {
          transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 0.5vmax;
          height: 0.5vmax;
          background-color: #e72830;
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec1 {
      .landscapeText {
        display: none;
      }

      .potraitText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20vmax;
        line-height: 8vmax;
        font-family: "PPU";
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vmax;

        span {
          color: #202020;
          transition: 0.35s linear;
        }
      }

      .heroImg {
        width: 160%;
      }

      .bottombox {
        padding: 2.5vmax;

        .linkbox {
          width: 100%;
          justify-content: space-between;
          gap: 0;

          h5 {
            opacity: 0.4;
          }
        }

        .circular {
          width: 12vmax;
          height: 12vmax;
          bottom: 2.5vmax;
          right: 2.5vmax;
          display: none;

          svg {
            text {
              word-spacing: 0.2vmax;
            }
          }
        }
      }
    }
  }

  .sec2 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #eba100;
    overflow: hidden;
    transition: 0.25s linear;

    .circular {
      position: absolute;
      top: 0%;
      left: 0%;
      transform: translate(-50%, -50%);
      bottom: 2.5vmax;
      right: 5vmax;
      border-radius: 50%;
      width: 35vmax;
      height: 35vmax;
      background-color: #000;

      svg {
        fill: currentColor;
        height: auto;
        transform-origin: center;
        width: 100%;
        animation: rotateAnimation 20s linear infinite both;

        text {
          font-family: "PPU";
          text-transform: uppercase;
          font-weight: 500;
          color: #eba100;
          letter-spacing: -0.05vmax;
          transition: 0.25s linear;
        }
      }

      @keyframes rotateAnimation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .minicircle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 21.5vmax;
        height: 21.5vmax;
        background-color: #eba100;
        transition: 0.25s linear;
      }
    }

    .featuredbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 5vmax;
      padding-bottom: 5vmax;

      .left {
        position: relative;
        width: 35%;

        h2 {
          line-height: 4.5vmax;
          letter-spacing: normal;
          font-weight: 600;
          color: #000;
          transition: 0.25s linear;
        }

        p {
          line-height: 1.8vmax;
          margin-top: 1.5vmax;
          opacity: 0.6;
          width: 95%;
          color: #000;
          font-weight: 600;
          transition: 0.25s linear;
        }

        button {
          position: relative;
          height: 3vmax;
          width: 9vmax;
          background-color: #000;
          border-radius: 50px;
          color: #fff;
          cursor: pointer;
          margin-top: 2vmax;
          overflow: hidden;
          border: none;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            transition: 0.25s linear;
            background-color: #fff;
          }

          &:hover::after {
            top: -100%;
            transition: 0.25s linear;
          }
        }
      }

      .right {
        position: relative;
        width: 55%;

        h1 {
          font-size: 15vmax;
          color: #000;
          font-family: "PPU";
          font-weight: 500;
          z-index: 55;
          transform: translateX(-4.5vmax);
        }

        .imgboxholder {
          position: relative;
          height: 25vmax;
          width: 100%;
          display: flex;
          gap: 1vmax;
          margin-top: 2vmax;

          .clickFollower {
            position: fixed;
            height: 8vmax;
            width: 8vmax;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #000000e2;
            z-index: 99;
            pointer-events: none;
          }

          .imgbox {
            height: 100%;
            width: calc(100% / 2);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            cursor: pointer;
            overflow: hidden;
            border-radius: 1vmax;

            img {
              height: 80%;
              width: 80%;
              object-fit: contain;
              object-position: center;
              transition: 0.25s linear;
              filter: contrast(1.1);
              z-index: 999;
              pointer-events: none;
            }

            &:hover img {
              transform: scale(1.1);
              transition: 0.25s linear;
            }
          }
        }
      }
    }
  }

  @media (max-width: 30cm) {
    .sec2 {
      .circular {
        height: 45vmax;
        width: 45vmax;
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);

        .minicircle {
          width: 28vmax;
          height: 28vmax;
        }
      }

      .featuredbox {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 5vmax 2.5vmax;
        gap: 8.5vmax;

        .left {
          width: 100%;

          h2 {
            line-height: 6vmax;
          }

          p {
            line-height: 2.8vmax;
            margin-top: 2.5vmax;
            opacity: 0.8;
          }

          button {
            height: 5vmax;
            width: 14vmax;
            margin-top: 3vmax;
            display: none;
          }
        }

        .right {
          width: 100%;

          h1 {
            top: 2.5%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .sec3 {
    position: relative;
    height: 100vh;
    width: 100%;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 26vmax;
      text-transform: uppercase;
      text-align: center;
      font-family: "PPU";
      font-weight: 500;
      width: 100%;
      overflow: hidden;

      span {
        color: #202020;
        transition: 0.15s linear;
      }
    }

    canvas {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
      filter: contrast(1.1);
    }
  }

  .canvas-relative {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

  .cr4 {
    .textbox {
      height: 100vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 12vmax;
        color: #121212;
        font-family: "PPU";
        font-weight: 500;
        line-height: 8vmax;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec3 {
      h1 {
        font-size: 20vmax;
        line-height: 8vmax;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vmax;

        span {
          display: block;
        }
      }
    }

    .cr4 {
      justify-content: flex-start;
      background-color: #000;

      .textbox {
        width: 100%;
        text-align: center;
        padding: 0 2.5vmax;

        h4 {
          transition: 0.25s linear;
        }
      }
    }
  }

  .sec4 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: hidden;

    .marquee-box {
      height: fit-content;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      .text-holder {
        height: fit-content;
        width: 100%;
        display: flex;
        flex: 0 0 auto;
        padding-bottom: 1vmax;
        border-bottom: 2px solid #000;

        h1 {
          font-size: 8vmax;
          font-family: "PPU";
          letter-spacing: normal;
          white-space: nowrap;
          min-width: 111vmax;
          color: #000;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .watches {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-shrink: 0;
    }

    .watch {
      width: 16%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:hover .detail {
        opacity: 1;
        transition: 0.25s linear;
      }

      .detail {
        position: absolute;
        width: 80%;
        height: 10%;
        top: 25%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #dddddd;
        border-radius: 1.5vmax;
        cursor: pointer;
        opacity: 0;
        transition: 0.25s linear;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: translateY(20%);
        transition: 0.25s linear;
        opacity: 1;
        cursor: pointer;
      }

      img:hover {
        transform: translateY(8%);
        transition: 0.25s linear;
      }
    }
  }

  @media (max-width: 30cm) {
    .sec4 {
      min-height: 120vh;

      .watches {
        height: 92.5%;
        width: 220%;
        transform: rotate(-90deg);
        transform-origin: center;
        justify-content: center;
        gap: 5vmax;

        .watch {
          width: 100%;

          .detail {
            width: 150%;
            height: 8%;
          }

          img {
            transform: translateY(0%);
          }

          &:nth-child(1) {
            width: 105%;
            transform: translateY(-15vmax);
          }

          &:nth-child(2) {
            width: 105%;
            transform: translateY(-13.9vmax);
          }

          &:nth-child(3) {
            transform: translateY(-13vmax);
          }

          &:nth-child(4) {
            transform: translateY(-13.5vmax);
          }

          &:nth-child(5) {
            width: 105%;
            transform: translateY(-13.5vmax);
          }

          &:nth-child(5) {
            transform: translateY(-12.5vmax);
          }

          &:nth-child(6) {
            transform: translateY(-14vmax);
          }
        }
      }
    }
  }

  .sec5 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(0.3);
    }

    h1 {
      position: absolute;
      top: 0;
      left: 0;
      font-family: "PPU";
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      word-spacing: 35vmax;
      background-color: #00000098;
    }

    p {
      position: absolute;
      bottom: 5%;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
      line-height: 1.2vmax;
    }
  }

  @media (max-width: 30cm) {
    .sec5 {
      h1 {
        font-size: 6vmax;
        transform: rotate(-90deg);
        word-spacing: 35vmax;
        white-space: nowrap;
      }

      p {
        bottom: 2.5vmax;
        width: 100%;
        line-height: 2.5vmax;
      }
    }
  }

  .footer {
    height: fit-content;
    width: 100%;
    background-color: #000;
    padding: 0 3vmax;
    padding-top: 10vmax;
    overflow: hidden;

    .elem1 {
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .lbholder {
        position: relative;
        height: fit-content;
        width: fit-content;
        display: flex;
        gap: 12vmax;

        .linkbox {
          height: fit-content;
          width: fit-content;
          display: flex;
          flex-direction: column;
          gap: 1.2vmax;

          .fs5 {
            letter-spacing: 0.05vmax;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
          }

          .fs6 {
            text-decoration: none;
            text-transform: capitalize;
            color: #fff;
            opacity: 0.5;
            transition: all 0.25s linear;

            &:hover {
              opacity: 1;
              transition: all 0.25s linear;
            }
          }
        }
      }

      .sociallinkbox {
        height: fit-content;
        width: fit-content;
        display: flex;
        gap: 0.8vmax;

        i {
          position: relative;
          font-size: 1.2vmax;
          height: 2.6vmax;
          width: 2.6vmax;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #202020;
          border-radius: 50%;
          cursor: pointer;
          overflow: hidden;
          color: #fff;
        }

        .icon::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          height: 100%;
          width: 100%;
          transition: 0.25s linear;
          background-color: #fff;
        }

        .icon:hover::after {
          top: -100%;
          transition: 0.25s linear;
        }
      }
    }

    .elem2 {
      height: 1vmax;
      width: 100%;
      margin-top: 6vmax;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .infolinkbox {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: flex-end;

        i {
          margin-left: -0.3vmax;
          color: #fff;
        }

        a {
          text-decoration: none;
          color: #fff;
          padding-left: 0.3vmax;
        }

        p {
          color: #fff;
          text-transform: capitalize;
          opacity: 0.5;
          margin-left: 2vmax;
        }
      }

      .linkbox {
        height: fit-content;
        width: fit-content;
        display: flex;
        gap: 2vmax;

        a {
          text-decoration: none;
          color: #fff;
          opacity: 0.5;
          transition: all 0.25s linear;

          &:hover {
            opacity: 1;
            transition: all 0.25s linear;
          }
        }
      }
    }

    .elem3 {
      height: fit-content;
      width: 100%;

      img {
        width: 101.5%;
        object-position: center;
      }
    }
  }

  @media (max-width: 30cm) {
    .footer {
      padding: 2.3vmax 2.3vmax;
      padding-top: 10vmax;

      .elem1 {
        flex-direction: column;

        .lbholder {
          width: 100%;
          gap: 10vmax;
        }

        .sociallinkbox {
          margin-top: 5vmax;
          gap: 1.2vmax;

          i {
            height: 4.2vmax;
            width: 4.2vmax;
            font-size: 1.8vmax;
          }
        }
      }

      .elem2 {
        height: fit-content;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 2.3vmax;

        .infolinkbox {
          p {
            margin-left: 2.5vmax;
          }
        }

        .linkbox {
          gap: 2.5vmax;
          display: none;
        }
      }
    }
  }

  @media (max-width: 15cm) {
    .footer {
      .elem1 {
        .lbholder {
          gap: 5vmax;
          flex-direction: column;
        }
      }

      .elem2 {
        margin-top: 5vmax;
      }

      .elem3 {
        margin-top: 2.5vmax;
      }
    }
  }
}
